<p>
  <b>Product category:</b>
  <%=h @product_type.product_category_id %>
</p>

<p>
  <b>Nev:</b>
  <%=h @product_type.nev %>
</p>

<p>
  <b>Leiras:</b>
  <%=h @product_type.leiras %>
</p>

<p>
  <b>Kep:</b>
  <%=h @product_type.kep %>
</p>

<p>
  <b>Szelesseg:</b>
  <%=h @product_type.szelesseg %>
</p>

<p>
  <b>Magassag:</b>
  <%=h @product_type.magassag %>
</p>

<p>
  <b>Oldalszam:</b>
  <%=h @product_type.oldalszam %>
</p>

<p>
  <b>Felfele nyilo:</b>
  <%=h @product_type.felfele_nyilo %>
</p>


<%= link_to 'Edit', edit_product_type_path(@product_type) %> |
<%= link_to 'Back', product_types_path %>