<p>
  <b>Nev:</b>
  <%=h @print.nev %>
</p>

<p>
  <b>Leiras:</b>
  <%=h @print.leiras %>
</p>

<p>
  <b>Szines oldalak:</b>
  <%=h @print.szines_oldalak %>
</p>

<p>
  <b>Fekete oldalak:</b>
  <%=h @print.fekete_oldalak %>
</p>


<%= link_to 'Edit', edit_print_path(@print) %> |
<%= link_to 'Back', prints_path %>