<h1>Editing paper_category</h1>

<% form_for(@paper_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nev %><br />
    <%= f.text_field :nev %>
  </p>
  <p>
    <%= f.label :leiras %><br />
    <%= f.text_area :leiras %>
  </p>
  <p>
    <%= f.label :kep %><br />
    <%= f.text_field :kep %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @paper_category %> |
<%= link_to 'Back', paper_categories_path %>