<p>
  <b>Nev:</b>
  <%=h @paper_category.nev %>
</p>

<p>
  <b>Leiras:</b>
  <%=h @paper_category.leiras %>
</p>

<p>
  <b>Kep:</b>
  <%=h @paper_category.kep %>
</p>


<%= link_to 'Edit', edit_paper_category_path(@paper_category) %> |
<%= link_to 'Back', paper_categories_path %>