<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nev_kereszt %><br />
    <%= f.text_field :nev_kereszt %>
  </p>
  <p>
    <%= f.label :nev_vezetek %><br />
    <%= f.text_field :nev_vezetek %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :jelszo %><br />
    <%= f.text_field :jelszo %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>