<h1>Editing document</h1>

<% form_for(@document) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @document %> |
<%= link_to 'Back', documents_path %>