<p>
  <b>Nev:</b>
  <%=h @product_category.nev %>
</p>

<p>
  <b>Leiras:</b>
  <%=h @product_category.leiras %>
</p>

<p>
  <b>Kep:</b>
  <%=h @product_category.kep %>
</p>


<%= link_to 'Edit', edit_product_category_path(@product_category) %> |
<%= link_to 'Back', product_categories_path %>